.search__query {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 41px;
  display: flex;
  border-bottom: 1px solid #ddd; }

.search__query #examples a {
  position: absolute;
  right: 0px;
  bottom: 3px;
  font-family: Arial;
  text-decoration: none;
}

.search .search-box {
  height: 40px;
  flex: 1; }

.search .search-box__loader {
  display: none; }

.search__results {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0; }

.search__results th {
  font-family: Arial;
}

.search__results td {
  font-family: Arial;
}

.search__results td a {
  text-decoration: none;
}

.search #logo {
  height: 36px;
  padding: 2px;
}