.search__query {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 41px;
  display: flex;
  border-bottom: 1px solid #ddd; }

.search .search-box {
  height: 40px;
  flex: 1; }

.search .search-box__loader {
  display: none; }

.search__results {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0; }

.search__results th {
  font-family: Arial;
}

.search__results td {
  font-family: Arial;
}